<div class="row mt-4">
    <div class="col-md-6">
      <div class="row" style="height: 450px;">
        <div class="col-md-12 my-auto side-header">
          <img src="/assets/img/add_user.png" class="mx-auto d-block">
          <h2>User Registration</h2>
          <p><em>-Using <strong>Asp.Net Core Web API</strong> and <strong>Angular 7</strong></em></p>
        </div>
      </div>
    </div>  
    <div class="col-md-6">
        <!-- todo: design the form
        https://www.youtube.com/watch?v=9WVG-tXl7XA
        45:41 -->
    </div>
  </div>