<app-navbar></app-navbar>
<div id="container" *ngIf="serviceCalendars != null" >

    <div  class="card m-5" *ngFor="let serviceCalendar of serviceCalendars" >
        <ul id ="details">
            <img src="/assets/img/transportation.svg">
            <li class="list-group-item"><strong>Car name: </strong>{{serviceCalendar.carNameAndYear}}</li>
            <li class="list-group-item"><strong>Actual kilometers: </strong>{{serviceCalendar.actualKilometers}}</li>
        </ul>
        <ul id="next">
            <li class="list-group-item"><strong>Next revision(as km): </strong>{{serviceCalendar.nextRevisionKm}}</li>
            <li class="list-group-item"><strong>Next revision(as date ) </strong>{{serviceCalendar.nextRevisionDate}}</li>
            <li class="list-group-item"><strong>Next PTI: </strong>{{serviceCalendar.nextPti}}</li>
            <li class="list-group-item"><strong>Next vignette: </strong>{{serviceCalendar.nextVig}}</li>
            <li class="list-group-item"><strong>Next insurance: </strong>{{serviceCalendar.nextInsurance}}</li>
        </ul>
        <ul id="remaining">
            <li class="list-group-item"><strong>Remaining kms until revision: </strong> <span [ngStyle]="getStyleByTextValue(serviceCalendar.remainingCalendar.remainingRevisionKm)">{{serviceCalendar.remainingCalendar.remainingRevisionKm}}</span></li>
            <li class="list-group-item"><strong>Remaining days until revision: </strong><span [ngStyle]="getStyleByTextValue(serviceCalendar.remainingCalendar.remainingRevisionDays)">{{serviceCalendar.remainingCalendar.remainingRevisionDays}}</span></li>
            <li class="list-group-item"><strong>Remaining days of PTI: </strong><span [ngStyle]="getStyleByTextValue(serviceCalendar.remainingCalendar.remainingPtiDays)">{{serviceCalendar.remainingCalendar.remainingPtiDays}}</span></li>
            <li class="list-group-item"><strong>Remaining days of vignette: </strong><span [ngStyle]="getStyleByTextValue(serviceCalendar.remainingCalendar.remainingVigDays)">{{serviceCalendar.remainingCalendar.remainingVigDays}}</span></li>
            <li class="list-group-item"><strong>Remaining days of insurance: </strong><span [ngStyle]="getStyleByTextValue(serviceCalendar.remainingCalendar.remainingInsuranceDays)">{{serviceCalendar.remainingCalendar.remainingInsuranceDays}}</span></li>
        </ul>
    </div>
</div>